@model RealTalk.Models.Post

@{
    ViewBag.Title = "Details";  
}
<div class="text-light">
    <h2>Details</h2>

    <div>
        <h4>Post</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <!--This doesn't work,
    easiest solution would be adding a string Author field and setting its value when creating a post-->
            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <h5>Tags:</h5>
            <ul>
                @foreach (var item in Model.Tags)
                {
                    <li>
                        <a href="/Tags/Details/@item.Id">@item.Name</a>
                    </li>
                }
            </ul>

            @Html.ActionLink("Add a Tag", "AddTagToPost", new { id = Model.Id }) 

            <hr />
            <h5>Comments:</h5>
            <ul>
                @foreach (var item in Model.Comments)
                {
                    <li>
                        <div><strong>@item.Author</strong></div>
                        <div>@item.Content</div>
                    </li>
                    <br />
                }
            </ul>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Add a Comment", "AddCommentToPost", new { id = Model.Id }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>